/*Reset Style Rules*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #514872;
    height: 36vw;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: -4.5em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07);
}

/* NAVIGATION STYLES */

nav {
    background-color: transparent;
    height: 4.8em;
    margin-top: 0;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07); */
}
#checkbox {
    display: none;
    position: fixed;
}

#hamburger {
    font-size: 7.5vw;
    color: #FFF;
    background-color: transparent;
    width: 100%;
    padding: .6em;
    margin: -1em 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 999;
}

nav ul {
    position: fixed;
    top: 0;
    background-color: #514872;
    z-index: 1;
    width: 100%;
    padding-top: 15%;
    padding-left: 0px;
    padding-bottom: 2%;
    padding-right: 2%;
    margin: 0;
    margin-bottom: 1.5em;
    box-shadow: 0 2px 2px rgba(0,0,0,0.07), 
                0 4px 4px rgba(0,0,0,0.07), 
                0 8px 8px rgba(0,0,0,0.07), 
                0 16px 16px rgba(0,0,0,0.07),
                0 32px 32px rgba(0,0,0,0.07);
    display: none;
    animation-name: dropdownmenu;
    animation-duration: .2s;
    animation-direction: normal;
}

@keyframes dropdownmenu {
    from {
        top: -400px;
    }

    to {
        top: 0;
    }
}

.navitem {
    padding: 5%;
    margin: 0;
    list-style-type: none;
    transition: transform .2s;
}


.navitem:hover {
    transform: scale(1.1, 1.1);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: quasimoda,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 6vw;
    padding: .5em;
    text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07), 
                 0 4px 8px rgba(0,0,0,0.07), 
                 0 8px 16px rgba(0,0,0,0.07),
                 0 16px 32px rgba(0,0,0,0.07);
}

section h1 {
    font-family: bodega-serif,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12vw;
    text-align: center;
    background-color: transparent;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07), 
                 0 4px 8px rgba(0,0,0,0.07), 
                 0 8px 16px rgba(0,0,0,0.07),
                 0 16px 32px rgba(0,0,0,0.07);
    position: absolute;
    bottom: .1em;
    left: 2.5em;
}

#checkbox:checked~ul {
    display: block;
}

/*MAIN CONTENT - HOME*/

main {
    width: 100%;
    padding-bottom: 6vh;
    background-color: #3E3E3E;
}

#intro {
    top: 0;
    width: 100%;
    padding: 2.5em 0;
}

#introtext {
    font-family: quasimoda,sans-serif;
    color: #B8B8B8;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    display: block;
    margin: auto 2.8em;
    width: 80%;
    padding-top: 2.5em;
    line-height: 1.8em;
}

form {
    margin: 2.5em 2.8em;
}

label, #text {
    font-family: quasimoda,sans-serif;
    color: #B8B8B8;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
}

#name, #email, #phone, #message {
    width: 94%;
    margin: .5em auto;
    padding: 5% 3%;
    font-family: quasimoda,sans-serif;
    color: black;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    border-radius: 5px;
}

#submit {
    background-color: #514872;
    padding: 4%;
    width: 30vw;
    border-radius: 40px;
    font-family: bodega-serif,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6vw;
    text-align: center;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07), 
                 0 4px 8px rgba(0,0,0,0.07), 
                 0 8px 16px rgba(0,0,0,0.07),
                 0 16px 32px rgba(0,0,0,0.07);
    box-shadow: 
                0 4px 4px rgba(0,0,0,0.07),
                0 8px 8px rgba(0,0,0,0.07);
}

/*FOOTER*/

footer p {
    font-family: quasimoda,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: .75em;
    padding: 2.2vh;
    position: -webkit-sticky;
        position: sticky;
        bottom: 0;
}

footer {
    background-color: #514872;
    height: 50px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    
    header {
        height: 10vw;
        position: fixed;
        width: 100%;
        top: 0em;
    }

    nav {
        height: 5vw;
        padding: 0;
    }

    #hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        background-color: transparent;
        box-shadow: 0 2px 2px transparent, 
        0 4px 4px transparent, 
        0 8px 8px transparent, 
        0 16px 16px transparent,
        0 32px 32px transparent;
    }

    .navitem {
        padding: 2% 1.5%;
    }

    nav ul li a {
        font-size: 1.4vw;
    }

    section h1 {
        font-size: 4vw;
        margin-left: 1.5em;
        margin-top: .2em;
    }

    main {
        width: 100%;
        background-color: #3E3E3E;
    }
    
    main div {
        width: 100%;
    }

    #introtext {
        font-family: quasimoda,sans-serif;
        color: #B8B8B8;
        font-weight: 500;
        font-style: normal;
        font-size: small;
        display: block;
        width: 70%;
        margin-left: 8.8em;
        padding-top: 10em;
        line-height: 1.8em;
    }
    
    form {
        text-align: center;
        margin: 2.5em 7em;
    }
    
    label, #text {
        font-family: quasimoda,sans-serif;
        color: #B8B8B8;
        font-weight: 500;
        font-style: normal;
        font-size: small;
    }
    
    #name, #email, #phone, #message {
        width: 94%;
        margin: .5em 0;
        padding: 1.5% 1.5%;
        font-family: quasimoda,sans-serif;
        color: black;
        font-weight: 500;
        font-style: normal;
        font-size: small;
        border-radius: 5px;
    }
    
    #submit {
        background-color: #514872;
        padding: 1.8%;
        width: 18vw;
        border-radius: 40px;
        font-family: bodega-serif,serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3vw;
        text-align: center;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                     0 2px 4px rgba(0,0,0,0.07), 
                     0 4px 8px rgba(0,0,0,0.07), 
                     0 8px 16px rgba(0,0,0,0.07),
                     0 16px 32px rgba(0,0,0,0.07);
        box-shadow: 
                    0 4px 4px rgba(0,0,0,0.07),
                    0 8px 8px rgba(0,0,0,0.07);
    }
    
    
    footer {
        background-color: #514872;
        height: 40px;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
    }

@media screen and (min-width: 1280px) {

    header {
        height: 20vh;
        position: fixed;
        width: 100%;
        top: 0em;
    }

    nav ul li a {
        font-size: 1vw;
    }

    @keyframes dropdownmenu {
        from {
            top: 0px;
        }
    
        to {
            top: 0;
        }
    }

    section h1 {
        font-size: 4vw;
        margin-left: 1.8em;
        margin-top: -.5em;
    }

    main {
        width: 100%;
        padding-bottom: 8vh;
        background-color: #3E3E3E;
    }
    
    main div {
        width: 100%;
    }

    #introtext {
        font-family: quasimoda,sans-serif;
        color: #B8B8B8;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        font-size: .8vw;
        margin: 0 auto;
        padding-top: 20em;
        line-height: 1.8em;
    }
    
    form {
        text-align: center;
        margin-top: 5em;
    }
    
    label, #text {
        font-family: quasimoda,sans-serif;
        color: #B8B8B8;
        font-weight: 500;
        font-style: normal;
        font-size: 1vw;
        line-height: 1vh;
    }
    
    #name, #email, #phone, #message {
        width: 50%;
        margin: 1.5em 0;
        padding: .8% .8%;
        font-family: quasimoda,sans-serif;
        color: black;
        font-weight: 500;
        font-style: normal;
        font-size: larger;
        border-radius: 5px;
    }

    #yes, #no {
        margin: .5vw;
    }

#submit {
    background-color: #514872;
    padding: .8%;
    width: 8vw;
    border-radius: 40px;
    font-family: bodega-serif,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1vw;
    text-align: center;
    color: white;
    text-shadow:0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07);
    box-shadow: 
                0 4px 4px rgba(0,0,0,0.07),
                0 8px 8px rgba(0,0,0,0.07);
    cursor: pointer;
}

footer {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 4vh;
}
    
footer p {
    padding: 1.2vh;
}}}