/*Reset Style Rules*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #262140;
    height: 32vw;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: -4.5em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07);
}

/* NAVIGATION STYLES */

nav {
    background-color: transparent;
    height: 4.8em;
    margin-top: 0;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07); */
}
#checkbox {
    display: none;
    position: fixed;
}

#hamburger {
    font-size: 7.5vw;
    color: #FFF;
    background-color: transparent;
    width: 100%;
    padding: .6em;
    margin: -1em 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 999;
}

nav ul {
    position: fixed;
    top: 0;
    background-color: #262140;
    z-index: 1;
    width: 100%;
    padding-top: 15%;
    padding-left: 0px;
    padding-bottom: 2%;
    padding-right: 2%;
    margin: 0;
    margin-bottom: 1.5em;
    box-shadow: 0 2px 2px rgba(0,0,0,0.07), 
                0 4px 4px rgba(0,0,0,0.07), 
                0 8px 8px rgba(0,0,0,0.07), 
                0 16px 16px rgba(0,0,0,0.07),
                0 32px 32px rgba(0,0,0,0.07);
    display: none;
    animation-name: dropdownmenu;
    animation-duration: .2s;
    animation-direction: alternate;
}

@keyframes dropdownmenu {
    from {
        top: -400px;
    }

    to {
        top: 0;
    }
}

.navitem {
    padding: 5%;
    margin: 0;
    list-style-type: none;
    transition: transform .2s;
}


.navitem:hover {
    transform: scale(1.1, 1.1);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: quasimoda,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 6vw;
    padding: .5em;
    text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07), 
                 0 4px 8px rgba(0,0,0,0.07), 
                 0 8px 16px rgba(0,0,0,0.07),
                 0 16px 32px rgba(0,0,0,0.07);
}

section h1 {
    font-family: bodega-serif,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12vw;
    text-align: center;
    background-color: transparent;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07), 
                 0 4px 8px rgba(0,0,0,0.07), 
                 0 8px 16px rgba(0,0,0,0.07),
                 0 16px 32px rgba(0,0,0,0.07);
    position: absolute;
    bottom: .2em;
    left: 1.75em;
}

#checkbox:checked~ul {
    display: block;
}

/*MAIN CONTENT - HOME*/

main {
    background-image: url("../images/pencil.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: .1em;
    padding-bottom: .1em;
}

main p {
    font-family: quasimoda,sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    margin: 2.5em auto;
    width: 68%;
    line-height: 1.8em;
}

.traditional-media {
    display: flex;
    flex-wrap: wrap;
    margin: 6em auto;
    max-width: 80%;
    border-radius: 5%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07);
    transition: transform .5s;
}

.traditional-media:hover {
    transform: scale(1.05, 1.05);
}

/*FOOTER*/

footer p {
    font-family: quasimoda,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: .75em;
    padding: 1.2%;
}

footer {
    background-color: #262140;
    height: 50px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    
    header {
        height: 15vw;
        z-index: 999;
    }

    nav {
        height: 5vw;
        padding: 0;
    }

    #hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        background-color: transparent;
        box-shadow: 0 2px 2px transparent, 
        0 4px 4px transparent, 
        0 8px 8px transparent, 
        0 16px 16px transparent,
        0 32px 32px transparent;
    }

    .navitem {
        padding: 2% 1.5%;
    }

    nav ul li a {
        font-size: 1.4vw;
    }

    section h1 {
        font-size: 5vw;
        margin-right: 7em;
        margin-top: .2em;
    }

    main div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .traditional-media {
        width: 30vw;
        font-size: 1.5vw;
        margin: 3em 4em;
    }
}

@media screen and (min-width: 1280px) {

    header {
        height: 10vw;
    }

    nav ul li a {
        font-size: 1.2vw;
    }

    section h1 {
        font-size: 4.5vw;
        margin-right: 7.3em;
        margin-top: -.5em;
    }

    .me, main p {
        width: 25vw;
        font-size: 1.3vw;
        margin: 4.2em 4.5em;
    }
}
/*
 /* TABLET *

@media screen and (min-width: 769px) {
    /* NAV *

    header {
        height: 15vw;
    }

    #hamburger {
        display: none;
    }

    nav {
        width: 100%;
        min-height: 10vw;
        max-height: 15em;
    }

    nav ul {
        width: 60%;
        height: 6vw;
        padding: .5% 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0 1px 2px transparent; 
    }

    nav ul li {
        align-self: center;
        margin: -3em;
        font-size: 3vw;
    }

    nav ul li a {
        font-weight: lighter;
    }

    /*HEADER*

    section h1 {
        font-size: 5vw;
        margin: 0;
    }

    /*MAIN CONTENT*
    
    main div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #me {
        max-width: 30%;
        margin-top: 6em;
        margin-bottom: 6em;
        margin-left: 4.5em;
    }

    main p {
        font-size: 2.2vw;
        padding: 4.5em;
    }

    /*FOOTER*

    footer p {
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        color: white;
        font-size: 1em;
        padding: 2%;
    }
}

/*DESKTOP*
@media screen and (min-width: 1279px) {
    /* NAV *

    #hamburger {
        display: none;
    }

    nav {
        /* outline: 1px solid red; *
        width: 100%;
        min-height: 4em;
    }

    nav ul {
        /*outline: 1px solid red;*
        width: 100%;
        height: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0 1px 2px transparent; 
        background-color: transparent;
    }

    nav ul li {
       /*outline: 1px solid red;*
        align-self: center;
        margin: -4em;
        margin-right: 2em;
        margin-top: -6em;
    }

    nav ul li a {
        /*outline: 1px solid red;*
        font-size: .9vw;
        font-weight: lighter;
    }

    /*HEADER*
    
    header {
        /*outline: 1px solid red;*
        position: -webkit-sticky;
        position: sticky;
        top: -5em;
    }
    
    h1 {
        /*outline: 1px solid red;*
        font-size: 3.5vw;
        margin-top: auto;
        margin-right: 10em;
        position: -webkit-sticky;
        position: sticky;
        top: 0em;
    }

    /*MAIN CONTENT*
    
    section {
        /*outline: 1px solid red;*
        margin: auto;
        width: 60%;
    }

    main div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main p {
        /*outline: 1px solid red;*    
        font-size: 1.2vw;  
    }

    /*FOOTER*

    footer p {
        /*outline: 1px solid red;*
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        color: white;
        font-size: 1.2vw;
        padding-top: 2%;
    }

    footer {
        /*outline: 1px solid red;*
        bottom: 0;
        height: 5%;
    }
}
@media screen and (min-width: 1901px) {
    /* NAV *

    #hamburger {
        display: none;
    }

    nav {
        /* outline: 1px solid red; *
        width: 100%;
        min-height: 16em;
    }

    nav ul {
        /*outline: 1px solid red;*
        width: 100%;
        height: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0 1px 2px transparent; 
        background-color: transparent;
    }

    nav ul li {
       /*outline: 1px solid red;*
        align-self: center;
        margin: -4em;
        margin-right: 2em;
        margin-top: -6em;
    }

    nav ul li a {
        /*outline: 1px solid red;*
        font-size: .9vw;
        font-weight: lighter;
    }

    /*HEADER*
    
    header {
        /*outline: 1px solid red;*
        position: -webkit-sticky;
        position: sticky;
        top: -5em;
    }
    
    h1 {
        /*outline: 1px solid red;*
        font-size: 3.5vw;
        margin-top: auto;
        margin-right: 10em;
        position: -webkit-sticky;
        position: sticky;
        top: 0em;
    }

    /*MAIN CONTENT*
    
    section {
        /*outline: 1px solid red;*
        margin: 16em auto;
        width: 80%;
    }

    main div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main p {
        /*outline: 1px solid red;*     
        font-size: 1.2vw;  
    }

    /*FOOTER*

    footer p {
        /*outline: 1px solid red;*
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        color: white;
        font-size: 1.2vw;
        padding-top: 2%;
    }

    footer {
        /*outline: 1px solid red;*
        bottom: 0;
        height: 5%;
    }
} */