/*Reset Style Rules*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #76949F;
    height: 36vw;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: -4.5em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07);
}

/* NAVIGATION STYLES */

nav {
    background-color: transparent;
    height: 4.8em;
    margin-top: 0;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07); */
}
#checkbox {
    display: none;
    position: fixed;
}

#hamburger {
    font-size: 7.5vw;
    color: #FFF;
    background-color: transparent;
    width: 100%;
    padding: .6em;
    margin: -1em 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 999;
}

nav ul {
    position: fixed;
    top: 0;
    background-color: #76949F;
    z-index: 1;
    width: 100%;
    padding-top: 15%;
    padding-left: 0px;
    padding-bottom: 2%;
    padding-right: 2%;
    margin: 0;
    margin-bottom: 1.5em;
    box-shadow: 0 2px 2px rgba(0,0,0,0.07), 
                0 4px 4px rgba(0,0,0,0.07), 
                0 8px 8px rgba(0,0,0,0.07), 
                0 16px 16px rgba(0,0,0,0.07),
                0 32px 32px rgba(0,0,0,0.07);
    display: none;
    animation-name: dropdownmenu;
    animation-duration: .2s;
    animation-direction: normal;
}

@keyframes dropdownmenu {
    from {
        top: -400px;
    }

    to {
        top: 0;
    }
}

.navitem {
    padding: 5%;
    margin: 0;
    list-style-type: none;
    transition: transform .2s;
}


.navitem:hover {
    transform: scale(1.1, 1.1);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: quasimoda,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 6vw;
    padding: .5em;
    text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07), 
                 0 4px 8px rgba(0,0,0,0.07), 
                 0 8px 16px rgba(0,0,0,0.07),
                 0 16px 32px rgba(0,0,0,0.07);
}

section h1 {
    font-family: bodega-serif,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12vw;
    text-align: center;
    background-color: transparent;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                 0 2px 4px rgba(0,0,0,0.07), 
                 0 4px 8px rgba(0,0,0,0.07), 
                 0 8px 16px rgba(0,0,0,0.07),
                 0 16px 32px rgba(0,0,0,0.07);
    position: absolute;
    bottom: .1em;
    left: 1.75em;
}

#checkbox:checked~ul {
    display: block;
}

/*MAIN CONTENT - HOME*/

main {
    height:178vh;
    width: 100%;
}

#byDay {
    background-color: white;
    height: 90vh;
}

#byNight {
    background-color: #3E3E3E;
    height: 88vh;
}

#profbio {
    font-family: quasimoda,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    width: 80vw;
    line-height: 1.8em;
}

#persbio {
    font-family: quasimoda,sans-serif;
    font-weight: 500;
    color: #B8B8B8;
    font-style: normal;
    font-size: medium;
    display: block;
    padding-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vh;
    width: 80vw;
    line-height: 1.8em;
}

.me {
    display: block;
    margin: 6vh auto;
    margin-bottom: 0;
    max-width: 65vw;
    border-radius: 5%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07);
    transition: transform .5s;
}

.me:hover {
    transform: scale(1.05, 1.05);
}

#flip {
    display: none;
}
/*FOOTER*/

footer p {
    font-family: quasimoda,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: .75em;
    padding: 2.2vh;
    position: -webkit-sticky;
        position: sticky;
        bottom: 0;
}

footer {
    background-color: #76949F;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    
    header {
        height: 10vw;
        position: fixed;
        width: 100%;
        top: 0em;
    }

    nav {
        height: 5vw;
        padding: 0;
    }

    #hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        background-color: transparent;
        box-shadow: 0 2px 2px transparent, 
        0 4px 4px transparent, 
        0 8px 8px transparent, 
        0 16px 16px transparent,
        0 32px 32px transparent;
    }

    .navitem {
        padding: 2% 1.5%;
    }

    nav ul li a {
        font-size: 1.4vw;
    }

    section h1 {
        font-size: 4vw;
        margin-left: 1.5em;
        margin-top: .2em;
    }

    main {
        height: 100vh;
    }
    #byDay {
        height: 95vh;
        background-color: white;
    }
    
    #byNight {
        padding-bottom: 3.5em;
        background-color: #3E3E3E;
    }
    
    #profbio {
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: small;
        display: block;
        margin: 2.5em 4em;
        width: 35%;
        line-height: 1.8em;
    }
    
    #persbio {
        font-family: quasimoda,sans-serif;
        color: #B8B8B8;
        font-weight: 500;
        font-style: normal;
        font-size: small;
        display: block;
        margin: 2.5em 4em;
        width: 35%;
        line-height: 1.8em;
    }
    main div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .me, main p {
        width: 30vw;
        font-size: 1.5vw;
        margin: 5em 3em;
    }
    footer {
        position: fixed;
        width: 100%;
        height:58px;
    }
}

@media screen and (min-width: 1280px) {

    header {
        height: 20vh;
        position: fixed;
        width: 100%;
        top: 0em;
    }

    nav ul li a {
        font-size: 1vw;
    }

    @keyframes dropdownmenu {
        from {
            top: 0px;
        }
    
        to {
            top: 0;
        }
    }

    section h1 {
        font-size: 4vw;
        margin-left: 1.8em;
        margin-top: -.5em;
    }

    main {
        height: 180vh;
        width: 100%;
    }

    #byDay {
        background-color: white;
        height: 100vh;
        width: 100%;
        padding-top: 6vh;
    }
    
    #byNight {
        background-color: #3E3E3E;
        height: 80vh;
        position: -webkit-sticky;
        position: sticky;
        top: 20vh;
        width: 100%;
        padding-bottom: 0;
    }
    
    #profbio {
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: larger;
        display: block;
        margin: 2.5em 6em;
        width: 20%;
        line-height: 2em;
    }
    
    #persbio {
        font-family: quasimoda,sans-serif;
        color: #B8B8B8;
        font-weight: 500;
        font-style: normal;
        font-size: larger;
        display: block;
        margin: 2.5em 6em;
        width: 20%;
        line-height: 2em;
        padding-top: 0;
    }

    .me, main p {
        width: 18vw;
        font-size: .9vw;
        margin: auto 6em;
    }

    footer {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        height: 6vh;
    }
    
}
/*
 /* TABLET *
@media screen and (min-width: 769px) {
    /* NAV *
    header {
        height: 15vw;
    }
    #hamburger {
        display: none;
    }
    nav {
        width: 100%;
        min-height: 10vw;
        max-height: 15em;
    }
    nav ul {
        width: 60%;
        height: 6vw;
        padding: .5% 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0 1px 2px transparent; 
    }
    nav ul li {
        align-self: center;
        margin: -3em;
        font-size: 3vw;
    }
    nav ul li a {
        font-weight: lighter;
    }
    /*HEADER*
    section h1 {
        font-size: 5vw;
        margin: 0;
    }
    /*MAIN CONTENT*
    
    main div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #me {
        max-width: 30%;
        margin-top: 6em;
        margin-bottom: 6em;
        margin-left: 4.5em;
    }
    main p {
        font-size: 2.2vw;
        padding: 4.5em;
    }
    /*FOOTER*
    footer p {
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        color: white;
        font-size: 1em;
        padding: 2%;
    }
}
/*DESKTOP*
@media screen and (min-width: 1279px) {
    /* NAV *
    #hamburger {
        display: none;
    }
    nav {
        /* outline: 1px solid red; *
        width: 100%;
        min-height: 4em;
    }
    nav ul {
        /*outline: 1px solid red;*
        width: 100%;
        height: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0 1px 2px transparent; 
        background-color: transparent;
    }
    nav ul li {
       /*outline: 1px solid red;*
        align-self: center;
        margin: -4em;
        margin-right: 2em;
        margin-top: -6em;
    }
    nav ul li a {
        /*outline: 1px solid red;*
        font-size: .9vw;
        font-weight: lighter;
    }
    /*HEADER*
    
    header {
        /*outline: 1px solid red;*
        position: -webkit-sticky;
        position: sticky;
        top: -5em;
    }
    
    h1 {
        /*outline: 1px solid red;*
        font-size: 3.5vw;
        margin-top: auto;
        margin-right: 10em;
        position: -webkit-sticky;
        position: sticky;
        top: 0em;
    }
    /*MAIN CONTENT*
    
    section {
        /*outline: 1px solid red;*
        margin: auto;
        width: 60%;
    }
    main div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main p {
        /*outline: 1px solid red;*    
        font-size: 1.2vw;  
    }
    /*FOOTER*
    footer p {
        /*outline: 1px solid red;*
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        color: white;
        font-size: 1.2vw;
        padding-top: 2%;
    }
    footer {
        /*outline: 1px solid red;*
        bottom: 0;
        height: 5%;
    }
}
@media screen and (min-width: 1901px) {
    /* NAV *
    #hamburger {
        display: none;
    }
    nav {
        /* outline: 1px solid red; *
        width: 100%;
        min-height: 16em;
    }
    nav ul {
        /*outline: 1px solid red;*
        width: 100%;
        height: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0 1px 2px transparent; 
        background-color: transparent;
    }
    nav ul li {
       /*outline: 1px solid red;*
        align-self: center;
        margin: -4em;
        margin-right: 2em;
        margin-top: -6em;
    }
    nav ul li a {
        /*outline: 1px solid red;*
        font-size: .9vw;
        font-weight: lighter;
    }
    /*HEADER*
    
    header {
        /*outline: 1px solid red;*
        position: -webkit-sticky;
        position: sticky;
        top: -5em;
    }
    
    h1 {
        /*outline: 1px solid red;*
        font-size: 3.5vw;
        margin-top: auto;
        margin-right: 10em;
        position: -webkit-sticky;
        position: sticky;
        top: 0em;
    }
    /*MAIN CONTENT*
    
    section {
        /*outline: 1px solid red;*
        margin: 16em auto;
        width: 80%;
    }
    main div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main p {
        /*outline: 1px solid red;*     
        font-size: 1.2vw;  
    }
    /*FOOTER*
    footer p {
        /*outline: 1px solid red;*
        font-family: quasimoda,sans-serif;
        font-weight: 500;
        font-style: normal;
        color: white;
        font-size: 1.2vw;
        padding-top: 2%;
    }
    footer {
        /*outline: 1px solid red;*
        bottom: 0;
        height: 5%;
    }
} */